Next, we look into multiple linear regression where we have more than one features.
Let's continue with our 'pizza' example. Other than the size of the pizza, the number of toppings also affect the price.

In [1]:
import numpy as np

In [2]:
X=[[6,2],[8,1],[10,0],[14,2],[18,0]]

In [3]:
y=[7,9,13,17.5,18]

Next, we create a data frame using pandas. This allows us to read the data in a table.

In [4]:
import pandas as pd

In [5]:
from pandas import DataFrame

In [6]:
df=pd.DataFrame(X,columns=['Diameter','Number of Toppings'])

In [7]:
df

   Diameter  Number of Toppings
0         6                   2
1         8                   1
2        10                   0
3        14                   2
4        18                   0

In [8]:
dy=pd.DataFrame(y,columns=['Price'])

In [9]:
dy

   Price
0    7.0
1    9.0
2   13.0
3   17.5
4   18.0

In [10]:
dxy=pd.DataFrame.join(df,dy)

In [11]:
dxy

   Diameter  Number of Toppings  Price
0         6                   2    7.0
1         8                   1    9.0
2        10                   0   13.0
3        14                   2   17.5
4        18                   0   18.0

We now build the model using scikit-learn.

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
model = LinearRegression()

In [14]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
model.coef_

array([1.01041667, 0.39583333])

In [16]:
model.intercept_

1.1875

In [17]:
model.predict([[2,3]])

array([4.39583333])

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
mean_squared_error(y,model.predict(X))

1.6458333333333333

We test the model with the following test data.

In [20]:
x_test = np.array([[8,2],[9,0],[11,2],[16,2],[12,0]])

In [21]:
y_test =np.array([11,8.5,15,18,11])

In [22]:
y_predict = model.predict(x_test)

In [23]:
y_predict

array([10.0625    , 10.28125   , 13.09375   , 18.14583333, 13.3125    ])

In [24]:
mean_squared_error(y_test,model.predict(x_test))

2.61089409722222